In [7]:
import geopandas as gpd
g = gpd.read_file('./data/export.geojson')
g.head()

,id,@id,access,addr:city,addr:country,addr:floor,addr:housenumber,addr:postcode,addr:state,addr:street,...,tailor:alteration_service,takeaway,toilets,toilets:access,tourism,twitter,website,wheelchair,@geometry,geometry
0,way/241829917,way/241829917,NaN,NaN,NaN,NaN,586,11218,NaN,Coney Island Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,https://www.cleanritecenter.com/stores/164cr/,NaN,center,POINT (-73.97023 40.64288)
1,way/247462746,way/247462746,NaN,NaN,NaN,NaN,2540,11208,NaN,Linden Boulevard,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,center,POINT (-73.87008 40.66686)
2,way/247638240,way/247638240,NaN,NaN,NaN,NaN,88-12,11417,NaN,Liberty Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,center,POINT (-73.85004 40.67968)
3,way/247860012,way/247860012,NaN,Jamaica,NaN,NaN,184-17,11432,NY,Hillside Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,center,POINT (-73.77744 40.71442)
4,way/247923749,way/247923749,NaN,Brooklyn,NaN,NaN,1755,11230,NY,Coney Island Avenue,...,NaN,NaN,NaN,NaN,NaN,NaN,https://atlantissuperwash.com,NaN,center,POINT (-73.96278 40.61459)

In [9]:
g['lng'] = g.geometry.x
g['lat'] = g.geometry.y
 
out = g[['name','lat','lng']]
out.head()

                             name        lat        lng
0               Clean Rite Center  40.642885 -73.970234
1                     Laundryland  40.666863 -73.870085
2                             NaN  40.679685 -73.850040
3                 Ping Laundromat  40.714422 -73.777439
4  Atlantis Super Wash Laundromat  40.614593 -73.962784

In [13]:
import h3

out['h3_res7'] = out.apply(lambda x: h3.latlng_to_cell(x.lat, x.lng, 7), axis=1)
out['h3_res8'] = out.apply(lambda x: h3.latlng_to_cell(x.lat, x.lng, 8), axis=1)
out['h3_res9'] = out.apply(lambda x: h3.latlng_to_cell(x.lat, x.lng, 9), axis=1)

final = out[['name', 'lat', 'lng', 'h3_res7', 'h3_res8', 'h3_res9']]
final

,name,lat,lng,h3_res7,h3_res8,h3_res9
0,Clean Rite Center,40.642885,-73.970234,872a10775ffffff,882a107753fffff,892a107752bffff
1,Laundryland,40.666863,-73.870085,872a100c8ffffff,882a100c87fffff,892a100c877ffff
2,NaN,40.679685,-73.850040,872a100ccffffff,882a100cc3fffff,892a100cc2fffff
3,Ping Laundromat,40.714422,-73.777439,872a100edffffff,882a100ed1fffff,892a100edc7ffff
4,Atlantis Super Wash Laundromat,40.614593,-73.962784,872a10744ffffff,882a107441fffff,892a1074417ffff
...,...,...,...,...,...,...
1040,Sun Laundry & Cleaners,40.777156,-73.951898,872a10089ffffff,882a10089bfffff,892a10089abffff
1041,Junction Laundromat,40.756192,-73.873139,872a100f1ffffff,882a100c4dfffff,892a100c4dbffff
1042,NaN,40.695763,-73.839347,872a100ccffffff,882a100cc9fffff,892a100cc97ffff
1043,Ka Ka Laundromat,40.639406,-74.012445,872a10773ffffff,882a10773dfffff,892a10773d7ffff
1044,Laundromat,40.590814,-73.968900,872a10740ffffff,882a10740bfffff,892a10740a7ffff

In [15]:
final.to_csv("./data/laundry_sample_prelim.csv", index=False, encoding='utf-8')